//Main content

.nav {
    .flex();
    padding: 20px;

    @media @phone {
        flex-direction: column;
        text-align: center;
    }//closes .nav media
    
    h1{
        font-size: 3rem;
        width: 50%;
        color: #74B9FF;
        @media @phone {
            .fullwidth();
            padding-bottom: 5%;
            border-bottom: 1px solid grey;
            font-size: 4rem;
        }//closes .nav h1 media
    }//closes .nav h1

    nav {
        font-size: 1.8rem;
        width: 60%;
        @media @phone {
            .flex();
            .fullwidth();
            margin-top: 3%;
        }//closes nav media

        ul{
            .smallpad();

            li{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                @media @phone {
                    justify-content: space-evenly;
                }
            }

            img{
                width: 30px;
                margin-right: 30px;
            }

            a { 
                text-decoration: none;
                margin-right: 30px;
                color: black;
            }
            
            a:hover {
                background-color: #74B9FF;
                transition-duration: 0.4s;
                padding: 6px;
                
            }
        }//closes nav ul
    }//closes nav
}//closes .nav

.main {

    img {
        .fullwidth();
        height: 500px;
        @media @phone {
            .size();
        }//closes img media
    }//closes img

    .intro {
        .size();
        .flex();
        flex-direction: column;
        align-items: center;

        h1{
            font-size: 5rem;
            padding-top: 3%;
            @media @phone {
                font-size: 3.2rem;
            }//closes h1 media
        }//closes h1

        h2{
            font-size: 2.8rem;
            .smallpad();
        }

        p{
            font-size: 2.5rem;
            text-align: center;
            margin: 2% 10%;
            .smallpad();
            line-height: 40px;
            @media @phone {
                margin: 2% 4%;
                font-size: 2rem;
            }//closes p media
        }//closes p 
    }//closes .intro
}//closes main

button {
    background-color: #FFFA7A;
    border: 2px solid rgb(114, 109, 109);
    border-radius: 4px;
    font-size: 2rem;
    margin: 10px;
    padding: 10px;
    width: 20%;

    @media @phone {
        width: 40%;
    }//closes button media
}//closes button

button:hover {
    background-color: rgba(238, 232, 71, 0.993)
}


footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #FFAD72;
    .smallpad();
    
    h1 {
        font-size: 2rem;
    }

    p, address {
        font-size: 1.6rem;
    }
    
}//closes footer